/* *{
  margin: 0;
} */

:root {
  --foreground: darkgreen;
  --background: black;

}

body {
  padding: 50px;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 20px;
  font-family: monospace;
}

input {
  color: var(--foreground);
  font-size: 35px;
  background-color: var(--background);
  border: 2px white solid;
  width: auto;
  /* height: 15vh; */
}

.cursor {
  position: relative;
}

.cursor i {
  position: absolute;
  width: 20px;
  height: 80%;
  background-color: var(--foreground);
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
