/* *{
  margin: 0;
} */

:root {
  --foreground: green;
  --background: black;
}

body {
  padding: 50px;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 20px;
  font-family: monospace;
}

input {
  color: var(--foreground);
  font-size: 35px;
  background-color: var(--background);
  border: 2px white solid;
  width: auto;
  font-family: monospace;
  caret-color: transparent;
  /* letter-spacing: -0.05em; */
  /* height: 15vh; */
}

.cursor-container {
  position: absolute;
  left: 5px;
  top: 10%;
  opacity: 1;
}

.typing-effect {
  position: relative;
}

.cursor {
  position: absolute;
  display: inline-block;
  border: solid 1px var(--foreground);
  min-height: 20px;
  background-color: var(--foreground);
}

.cursor.hidden {
  opacity: 0.3;
}

.first-text-content {
  color: rgba(251, 251, 4, 0.713);
}

.picture-for-gabby {
  position: fixed;
  bottom: -100%; /* Start off-screen */
  left: 0;
  right: 0;
  margin: auto;
  width: 100%; /* Adjust to the desired width */
  max-width: 400px; /* Adjust to your needs */
  transition: bottom 4.5s ease-in-out, opacity 4.5s ease-in-out;
  opacity: 0; /* Start invisible */
}

.picture-for-gabby1 {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%; /* Adjust to the desired width */
  max-width: 250px; /* Adjust to your needs */
  transition: opacity 5s ease-in-out;
  opacity: -1; /* Start invisible */
  padding-top: 51px;
}
.picture-for-gabby1.visible {
  opacity: 1;
}

.picture-for-gabby.visible {
  bottom: 185px; /* Slide up to this position */
  opacity: 1; /* Fade in */
}
